n8n/estbirding-news-translate-v10.json
{
  "name": "estbirding-news-translate-v10",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "4bf5013e-2e91-48e8-8655-02b2c4e89b70",
      "name": "Schedule (daily 08:00 EET)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        7552,
        3328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eenwcyuyugyrjgpivxrq.supabase.co/functions/v1/get-news-untranslated-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"limit\": 10 }",
        "options": {}
      },
      "id": "ab4153ec-8ccb-4d97-946f-460f389e807a",
      "name": "Get pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7776,
        3328
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var j = $input.item.json;\nvar SYSTEM = \"Tolgid linnuteemalisi uudiseid eesti keelde Eesti linnuhuviliste lugejaskonnale. Kirjuta LOOMULIKKU, SUJUVAT eesti keelt ametlikus, asjalikus ornitoloogilises registris (EOU-stiilis uudistekeel) - mitte sona-sona haaval tolget.\\n\\nSTRUKTUURIREEGLID (rakenda ENNE liiginimede tolkimist):\\n\\n1) LADINAKEELSED BINOOMID (nt \\\"Vanellus gregarius\\\", \\\"Pelecanus crispus\\\") - sailita TAPSELT nimetavas vormis. Ara kunagi tolgi neid. Ara lisa eesti kaandeloppe (MITTE \\\"Pelecanus crispust\\\", \\\"Vanellus spinosus'e\\\" - need on VALED). Kohtle ladinakeelseid nimesid inertsete markidena. Valjasta PUHTA TEKSTINA - ilma markdown-kaldkirjata (*X* voi _X_), ilma <i>-siltideta. Kui lause vajab liiki muus kaandes, sonasta umber nii, et ladina nimi jaab nimetavasse (nt \\\"lindu (Vanellus spinosus) nahti\\\", mitte \\\"Vanellus spinosust nahti\\\").\\n\\n1b) IGA linnuliigi kohta, mille sa eesti keeles nimetad, LISA ALATI ladinakeelne binoom sulgudes vahetult nime jarele - ka siis, kui lahtetekstis ladina nime ei olnud, nt piiritaja (Apus apus). Ladina nimi on kohustuslik ANKUR: jarelkorrektor parandab eestikeelse nime ladina nime jargi, ilma selleta jaab vale nimi parandamata.\\n\\n2) ARA KUNAGI KALGI LINNUNIMESID. Eesti linnunimed EI teki lahtekeele nimede tolkimisel ja sageli ei sarnane lahtekeele nimega uldse. Naited valedest kalkidest: \\\"Dalmaatsia pelikan\\\" -> kaharpelikan; \\\"rabakonnakotkas\\\" -> vaike-konnakotkas. Kui liik EI ole sulle kindel, JATA ALLES LADINA NIMI, mitte ara leiuta eesti nime.\\n\\n3) EESTI LIITNIMED on ebajarjekindlad: osa sidekriipsuga (vaike-konnakotkas, must-toonekurg), osa kokku (stepikiivitaja, kaharpelikan, kalakotkas). Kahtluse korral kasuta ladina nime.\\n\\n4) KOHANIMED - sailita algne kirjapilt. Ara eestista voorkohanimesid (\\\"Zarszyn\\\" jaab \\\"Zarszyn\\\"). Kasuta eesti vorme vaid tuntud eksonuumidele: Helsinki->Helsingi, Riga->Riia, Warszawa->Varssavi.\\n\\n5) LAHTEKEELE MORFOLOOGIA: soome tuvedele mitte lasta lekkida (\\\"lintu-\\\"->\\\"lind-/linnu-\\\", \\\"Suomi\\\"->\\\"Soome\\\"); lati loppe mitte kasutada; poola liitsonu mitte kalkida, diakriitikud sailitada.\\n\\n6) TRUUDUS - tolgi iga lause, ara luhenda ega jata detaile valja. Erand: truudus EI luba leiutada eesti liiginimesid - kui liiki pole, kasuta ladina binoomi.\\n\\n7) TOON - loomulik eesti linnu-uudiste proosa, olevik, standardsed verbivormid (\\\"nahti\\\", \\\"leiti\\\", \\\"jaadvustati\\\").\\n\\nVALJUND: vasta TAPSELT jargmises vormis, ilma muu teksti, kommentaaride ega markdownita. Kasuta neid kahte eraldajat tapselt nii nagu naidatud:\\n###TITLE###\\n(eestikeelne pealkiri)\\n###BODY###\\n(eestikeelne sisu)\";\nvar userMsg = 'Tolgi jargnev uudis eesti keelde. Vasta TAPSELT vormis ###TITLE### ja ###BODY###, ilma muu tekstita.\\n\\nPEALKIRI:\\n' + String(j.title || '') + '\\n\\nSISU:\\n' + String(j.body || '');\nj._areq = { model: 'claude-sonnet-4-6', max_tokens: 4096, temperature: 0.1, system: SYSTEM, messages: [{ role: 'user', content: userMsg }] };\nreturn $input.item;"
      },
      "id": "486de745-b117-463c-9002-c3eddf5eea7c",
      "name": "Build Sonnet request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        3328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._areq) }}",
        "options": {}
      },
      "id": "de7741c2-6310-4f5d-be11-3528297dedf1",
      "name": "Sonnet call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8224,
        3328
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var src = $('Build Sonnet request').item.json;\nvar resp = $input.item.json;\nvar out = { id: src.id, source_slug: src.source_slug, title: src.title, body: src.body };\ntry {\n  if (resp && resp.error) throw new Error((resp.error && resp.error.message) ? resp.error.message : 'anthropic error');\n  if (resp && resp.stop_reason === 'max_tokens') throw new Error('max_tokens hit');\n  var block = (resp && resp.content && resp.content[0]) ? resp.content[0] : null;\n  var txt = (block && block.text) ? block.text : '';\n  var T = '###TITLE###', B = '###BODY###';\n  var ti = txt.indexOf(T), bi = txt.indexOf(B);\n  if (ti < 0 || bi < 0) throw new Error('missing delimiters in response');\n  out.title_raw = txt.slice(ti + T.length, bi).trim();\n  out.body_raw = txt.slice(bi + B.length).trim();\n  out.translation_engine = 'sonnet';\n} catch (e) {\n  out._error = 'sonnet: ' + String((e && e.message) ? e.message : e).slice(0, 300);\n}\nreturn { json: out };"
      },
      "id": "dd24c75d-d093-499f-936b-f8689649f260",
      "name": "Parse Sonnet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8432,
        3328
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Deterministic bird-name correction (ported from _shared/bird-names-et.ts) + build PATCH.\n// Dictionary = Linnud.txt (EOU checklist) hosted in Storage, cached 6h in workflow static data.\nvar items = $input.all();\n\nfunction parseLinnud(tsv) {\n  var map = {};\n  var lines = String(tsv || '').replace(/^\\uFEFF/, '').split(/\\r?\\n/).filter(Boolean);\n  if (lines.length < 2) return map;\n  var header = lines[0].split('\\t').map(function (c) { return c.trim(); });\n  var li = header.indexOf('nimi_lk');\n  var ei = header.indexOf('nimi_ek');\n  if (li < 0 || ei < 0) return map;\n  for (var i = 1; i < lines.length; i++) {\n    var cells = lines[i].split('\\t');\n    var est = String(cells[ei] || '').replace(/\\s*\\([^)]*\\)\\s*/g, ' ').replace(/\\s+/g, ' ').trim();\n    if (!est) continue;\n    var aliases = String(cells[li] || '').split(',');\n    for (var a = 0; a < aliases.length; a++) {\n      var key = aliases[a].toLowerCase().replace(/\\*/g, '').replace(/[()\\[\\]]/g, '').replace(/\\s+/g, ' ').trim();\n      if (key && !map[key]) map[key] = est;\n    }\n  }\n  return map;\n}\n\nvar CALQUES = [\n  [/\\bDalmaatsia\\s+pelikan(i|it|ile|is|ist|iks|iga|ina)?\\b/gi, 'käharpelikan$1'],\n  [/\\bDalmaatia\\s+pelikan(i|it|ile|is|ist|iks|iga|ina)?\\b/gi, 'käharpelikan$1'],\n  [/\\bSabatiigli\\s+kiivitaja(t|le|s|st|ks|ga|na)?\\b/gi, 'stepikiivitaja$1'],\n  [/\\bkannusvästrik(u|ut|ule|us|ust|uks|uga|una|ud|ute|uid|utes|utega|uteta)?\\b/gi, 'valgekael-kiivitaja$1'],\n  [/\\btuttvart-koiras(t|tega|le|s|st|ks|ina)?\\b/gi, 'tutka-isane$1'],\n  [/\\btuttvart-koirased(?=\\b)/gi, 'tutka-isased'],\n  [/\\bkoirased\\b/gi, 'isased'],\n  [/\\bkoirastega\\b/gi, 'isastega'],\n  [/\\bkoirast\\b/gi, 'isast'],\n  [/\\bkoiraste\\b/gi, 'isaste'],\n  [/\\btuttvartidel\\b/gi, 'tutkadel'],\n  [/\\btuttvartid\\b/gi, 'tutkad'],\n  [/\\bvappubukett(i|it|ile|is|ist|iks|iga|ina)?\\b/gi, 'kevadlille$1'],\n  [/\\bvappuõis(t|tega|le|s|st|ks|ed)?\\b/gi, 'kevadlille$1']\n];\n\nfunction fixCalques(t) { if (!t) return t; var r = t; for (var i = 0; i < CALQUES.length; i++) { r = r.replace(CALQUES[i][0], CALQUES[i][1]); } return r; }\n\nfunction fixBirdNames(text, latinToEt) {\n  if (!text) return text;\n  var normalized = String(text)\n    .replace(/\\(\\s*\\*\\s*([A-Z][a-z]+\\s+[a-z]+)\\s*\\*\\s*\\)/g, '($1)')\n    .replace(/\\(\\s*_\\s*([A-Z][a-z]+\\s+[a-z]+)\\s*_\\s*\\)/g, '($1)')\n    .replace(/\\(\\s*<i>\\s*([A-Z][a-z]+\\s+[a-z]+)\\s*<\\/i>\\s*\\)/gi, '($1)');\n  var result = normalized.replace(/([\\p{L}\\-]+(?:\\s+[\\p{L}\\-]+){0,3})\\s*\\(([A-Z][a-z]+\\s+[a-z]+)\\)/gu, function (m, _e, latin) {\n    var c = latinToEt[latin.toLowerCase()];\n    return c ? (c + ' (' + latin + ')') : m;\n  });\n  result = result.replace(/(?<!\\()(?<!\\w)\\b([A-Z][a-z]+\\s+[a-z]+)\\b(?!\\))/g, function (m, latin) {\n    var c = latinToEt[latin.toLowerCase()];\n    return c ? (c + ' (' + latin + ')') : m;\n  });\n  return fixCalques(result);\n}\n\n// load + cache dictionary\nvar latinToEt;\nvar raw = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://eenwcyuyugyrjgpivxrq.supabase.co/storage/v1/object/public/bird-avatars/meta/Linnud.txt',\n  json: false\n});\nlatinToEt = parseLinnud(String(raw));\n\nvar CYR = {'а':'a','б':'b','в':'v','г':'g','д':'d','е':'e','ё':'jo','ж':'zh','з':'z','и':'i','й':'j','к':'k','л':'l','м':'m','н':'n','о':'o','п':'p','р':'r','с':'s','т':'t','у':'u','ф':'f','х':'h','ц':'ts','ч':'ch','ш':'sh','щ':'sch','ъ':'','ы':'y','ь':'','э':'e','ю':'ju','я':'ja'};\nfunction deCyrillic(s){ if(!s) return s; return String(s).replace(/[\\u0400-\\u04FF]/g, function(ch){ var low=ch.toLowerCase(); var r=CYR[low]; if(r===undefined) return ''; if(ch!==low && r){ return r.charAt(0).toUpperCase()+r.slice(1); } return r; }); }\n\nvar out = [];\nfor (var k = 0; k < items.length; k++) {\n  var it = items[k].json;\n  var patch;\n  if (it._error || (!it.title_raw && !it.body_raw)) {\n    patch = {\n      translation_v2_status: 'error',\n      translation_v2_error: String(it._error || 'empty translation').slice(0, 500)\n    };\n  } else {\n    patch = {\n      title_et_v2: fixBirdNames(deCyrillic(String(it.title_raw || '')), latinToEt) || null,\n      body_et_v2: fixBirdNames(deCyrillic(String(it.body_raw || '')), latinToEt) || null,\n      translation_engine: it.translation_engine || null,\n      translation_v2_status: 'done',\n      translation_v2_error: null,\n      translated_v2_at: new Date().toISOString()\n    };\n  }\n  out.push({ json: { id: it.id, patch: patch } });\n}\nreturn out;\n"
      },
      "id": "f280ae17-cea0-4f2d-beb5-a643e33e11e7",
      "name": "Correct + patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8656,
        3328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eenwcyuyugyrjgpivxrq.supabase.co/functions/v1/update-news-translation-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "cc58f7ba-4410-47db-b4f6-374b36c94fae",
      "name": "Write v2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8880,
        3328
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule (daily 08:00 EET)": {
      "main": [
        [
          {
            "node": "Get pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pending": {
      "main": [
        [
          {
            "node": "Build Sonnet request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sonnet request": {
      "main": [
        [
          {
            "node": "Sonnet call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonnet call": {
      "main": [
        [
          {
            "node": "Parse Sonnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sonnet": {
      "main": [
        [
          {
            "node": "Correct + patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correct + patch": {
      "main": [
        [
          {
            "node": "Write v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": []
}