docs/species_prediction_api_real_sources.json
{
  "name": "Species Prediction API - Real Sources",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "species-prediction-openai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "prediction_request",
      "name": "prediction_request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "species-prediction-openai"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "requestType",
              "value": "={{ String($json.body?.requestType || $json.requestType || 'prediction_and_insight') }}"
            },
            {
              "name": "speciesKey",
              "value": "={{ String($json.body?.species?.key || $json.species?.key || '').trim() }}"
            },
            {
              "name": "speciesName",
              "value": "={{ String($json.body?.species?.name || $json.species?.name || '').trim() }}"
            },
            {
              "name": "latinName",
              "value": "={{ String($json.body?.species?.latinName || $json.species?.latinName || '').trim() }}"
            },
            {
              "name": "predictionMode",
              "value": "={{ String($json.body?.settings?.predictionMode || $json.settings?.predictionMode || 'precise_hotspot') }}"
            },
            {
              "name": "summaryStyle",
              "value": "={{ String($json.body?.settings?.summaryStyle || $json.settings?.summaryStyle || 'field_use') }}"
            },
            {
              "name": "ebirdSpeciesCode",
              "value": "={{ String($json.body?.species?.ebirdSpeciesCode || $json.species?.ebirdSpeciesCode || $json.body?.settings?.ebirdSpeciesCodeOverride || $json.settings?.ebirdSpeciesCodeOverride || '').trim() }}"
            }
          ],
          "number": [
            {
              "name": "outputCount",
              "value": "={{ Number($json.body?.settings?.outputCount || $json.settings?.outputCount || 5) }}"
            },
            {
              "name": "searchRadiusKm",
              "value": "={{ Number($json.body?.settings?.searchRadiusKm || $json.settings?.searchRadiusKm || 35) }}"
            },
            {
              "name": "hotspotRadiusKm",
              "value": "={{ Number($json.body?.settings?.hotspotRadiusKm || $json.settings?.hotspotRadiusKm || 5) }}"
            },
            {
              "name": "hotspotCount",
              "value": "={{ Number($json.body?.settings?.hotspotCount || $json.settings?.hotspotCount || 5) }}"
            },
            {
              "name": "summaryMaxLength",
              "value": "={{ Number($json.body?.settings?.summaryMaxLength || $json.settings?.summaryMaxLength || 450) }}"
            }
          ],
          "boolean": [
            {
              "name": "useLatvia",
              "value": "={{ Boolean($json.body?.settings?.useLatvia ?? $json.settings?.useLatvia ?? true) }}"
            },
            {
              "name": "useLithuania",
              "value": "={{ Boolean($json.body?.settings?.useLithuania ?? $json.settings?.useLithuania ?? true) }}"
            },
            {
              "name": "useBelarus",
              "value": "={{ Boolean($json.body?.settings?.useBelarus ?? $json.settings?.useBelarus ?? true) }}"
            },
            {
              "name": "usePoland",
              "value": "={{ Boolean($json.body?.settings?.usePoland ?? $json.settings?.usePoland ?? true) }}"
            },
            {
              "name": "useRussia",
              "value": "={{ Boolean($json.body?.settings?.useRussia ?? $json.settings?.useRussia ?? true) }}"
            },
            {
              "name": "useFinlandContextOnly",
              "value": "={{ Boolean($json.body?.settings?.useFinlandContextOnly ?? $json.settings?.useFinlandContextOnly ?? true) }}"
            },
            {
              "name": "enableOpenAISummary",
              "value": "={{ Boolean($json.body?.settings?.enableOpenAISummary ?? $json.settings?.enableOpenAISummary ?? true) }}"
            }
          ]
        }
      },
      "id": "normalize_input",
      "name": "normalize_input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://REPLACE_EBIRD_FOREIGN_ENDPOINT.example/api/species/{{$json.speciesKey}}/foreign-sightings",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "speciesKey",
              "value": "={{ $json.speciesKey }}"
            },
            {
              "name": "speciesName",
              "value": "={{ $json.speciesName }}"
            },
            {
              "name": "latinName",
              "value": "={{ $json.latinName }}"
            },
            {
              "name": "countries",
              "value": "={{ ['latvia','lithuania','belarus','poland','russia','finland'].filter((country) => ({ latvia: $json.useLatvia, lithuania: $json.useLithuania, belarus: $json.useBelarus, poland: $json.usePoland, russia: $json.useRussia, finland: $json.useFinlandContextOnly })[country]).join(',') }}"
            },
            {
              "name": "ebirdSpeciesCodeOverride",
              "value": "={{ $('normalize_input').first().json.ebirdSpeciesCode || $('normalize_input').first().json.speciesKey }}"
            },
            {
              "name": "ebirdSpeciesCode",
              "value": "={{ $('normalize_input').first().json.ebirdSpeciesCode || $('normalize_input').first().json.speciesKey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_ebird_foreign",
      "name": "fetch_ebird_foreign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        770,
        40
      ]
    },
    {
      "parameters": {
        "url": "=https://REPLACE_ELURIKKUS_HISTORY_ENDPOINT.example/api/species/{{$json.speciesKey}}/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "speciesKey",
              "value": "={{ $json.speciesKey }}"
            },
            {
              "name": "speciesName",
              "value": "={{ $json.speciesName }}"
            },
            {
              "name": "precisionMode",
              "value": "={{ $json.predictionMode }}"
            },
            {
              "name": "hotspotRadiusKm",
              "value": "={{ $json.hotspotRadiusKm }}"
            },
            {
              "name": "hotspotCount",
              "value": "={{ $json.hotspotCount }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_elurikkus_history",
      "name": "fetch_elurikkus_history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        770,
        220
      ]
    },
    {
      "parameters": {
        "url": "=https://REPLACE_ESTONIA_RECENT_ENDPOINT.example/api/species/{{$json.speciesKey}}/recent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "speciesKey",
              "value": "={{ $json.speciesKey }}"
            },
            {
              "name": "speciesName",
              "value": "={{ $json.speciesName }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_estonia_recent",
      "name": "fetch_estonia_recent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        770,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://REPLACE_WEATHER_ENDPOINT.example/api/migration/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "speciesKey",
              "value": "={{ $json.speciesKey }}"
            },
            {
              "name": "predictionMode",
              "value": "={{ $json.predictionMode }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_weather",
      "name": "fetch_weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        770,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const req=$('normalize_input').first().json||{};const h=$('fetch_elurikkus_history').first().json||{};const r=$('fetch_estonia_recent').first().json||{};const w=$('fetch_weather').first().json||{};const f=$('fetch_ebird_foreign').first().json||{};const num=v=>{v=Number(v);return Number.isFinite(v)?v:null};const clean=v=>String(v||'').replace(/\\s+/g,' ').trim();const iso=v=>{if(!v)return null;const d=new Date(v);return Number.isNaN(d.getTime())?null:d.toISOString()};const days=v=>{const d=iso(v);if(!d)return null;return Math.max(0,Math.round((Date.now()-new Date(d).getTime())/86400000))};const dist=(a,b,c,d)=>{const x=[a,b,c,d].map(Number);if(x.some(v=>!Number.isFinite(v)))return null;const [la1,lo1,la2,lo2]=x.map(v=>v*Math.PI/180);const dLa=la2-la1,dLo=lo2-lo1,s1=Math.sin(dLa/2),s2=Math.sin(dLo/2);const q=s1*s1+Math.cos(la1)*Math.cos(la2)*s2*s2;return 6371*2*Math.atan2(Math.sqrt(q),Math.sqrt(1-q))};const bearing=(a,b,c,d)=>{const x=[a,b,c,d].map(Number);if(x.some(v=>!Number.isFinite(v)))return null;const [la1,lo1,la2,lo2]=x.map(v=>v*Math.PI/180);const y=Math.sin(lo2-lo1)*Math.cos(la2),xx=Math.cos(la1)*Math.sin(la2)-Math.sin(la1)*Math.cos(la2)*Math.cos(lo2-lo1);return (Math.atan2(y,xx)*180/Math.PI+360)%360};const eta=d=>d==null?'unknown':d<=1?'24-48h':d<=3?'2-4d':d<=7?'4-7d':'7d+';const cc=v=>{v=clean(v).toLowerCase();if(v==='fi'||v.includes('finland'))return'FI';if(v==='lv'||v.includes('latvia'))return'LV';if(v==='lt'||v.includes('lithuania'))return'LT';if(v==='pl'||v.includes('poland'))return'PL';if(v==='by'||v.includes('belarus'))return'BY';if(v==='ru'||v.includes('russia'))return'RU';return v.toUpperCase()};const points=(Array.isArray(h.estoniaHistoryPoints)?h.estoniaHistoryPoints:[]).map((p,i)=>({id:clean(p.id)||'ee-'+i,lat:num(p.lat??p.decimalLatitude),lon:num(p.lon??p.decimalLongitude),eventDate:iso(p.eventDate??p.obsDt??p.date),locality:clean(p.locality??p.locName??p.location),municipality:clean(p.municipality??p.countyOrParish??p.county),source:clean(p.source)||'Estonia history'})).filter(p=>p.lat!=null&&p.lon!=null);const latest=points.filter(p=>p.eventDate).sort((a,b)=>new Date(b.eventDate)-new Date(a.eventDate))[0]||null;const mkClusters=()=>{const m=new Map();for(const p of points){const k=(Math.round(p.lat*4)/4).toFixed(2)+':'+(Math.round(p.lon*4)/4).toFixed(2);(m.get(k)||m.set(k,[]).get(k)).push(p)}return [...m.entries()].map(([id,ps],i)=>{const freq=a=>[...a.entries()].sort((x,y)=>y[1]-x[1]||x[0].localeCompare(y[0]))[0]?.[0]||'';const loc=new Map(),mun=new Map();ps.forEach(p=>{if(p.locality)loc.set(p.locality,(loc.get(p.locality)||0)+1);if(p.municipality)mun.set(p.municipality,(mun.get(p.municipality)||0)+1)});const lat=ps.reduce((s,p)=>s+p.lat,0)/ps.length,lon=ps.reduce((s,p)=>s+p.lon,0)/ps.length;return{clusterId:id,id,label:freq(loc)||freq(mun)||lat.toFixed(3)+' '+lon.toFixed(3),name:freq(loc)||freq(mun)||lat.toFixed(3)+' '+lon.toFixed(3),locality:freq(loc),municipality:freq(mun),lat:+lat.toFixed(5),lon:+lon.toFixed(5),count:ps.length,recentCount:ps.filter(p=>(days(p.eventDate)??9999)<=30).length,newestEventDate:ps.map(p=>p.eventDate).filter(Boolean).sort().reverse()[0]||null}})};const clusters=(Array.isArray(h.estoniaHistoryClusters)&&h.estoniaHistoryClusters.length?h.estoniaHistoryClusters.map((c,i)=>({clusterId:clean(c.clusterId??c.id)||'c-'+i,id:clean(c.id??c.clusterId)||'c-'+i,label:(()=>{const raw=clean(c.label??c.name);const loc=clean(c.locality);const mun=clean(c.municipality);const ugly=/^\\d+(?:[d.]\\d+)?[ :]+\\d+(?:[d.]\\d+)?$/i.test(raw);return (!raw||ugly)?(loc||mun||('Cluster '+(i+1))):raw;})(),name:(()=>{const raw=clean(c.label??c.name);const loc=clean(c.locality);const mun=clean(c.municipality);const ugly=/^\\d+(?:[d.]\\d+)?[ :]+\\d+(?:[d.]\\d+)?$/i.test(raw);return (!raw||ugly)?(loc||mun||('Cluster '+(i+1))):raw;})(),locality:clean(c.locality),municipality:clean(c.municipality),lat:Number(c.lat),lon:Number(c.lon),count:Math.max(1,Number(c.count||1)),recentCount:Math.max(0,Number(c.recentCount||0)),newestEventDate:iso(c.newestEventDate??c.latestDate)})).filter(c=>Number.isFinite(c.lat)&&Number.isFinite(c.lon)):mkClusters());const rows=Array.isArray(f.foreignRecentPoints)?f.foreignRecentPoints:Array.isArray(f.rows)?f.rows:Array.isArray(f.observations)?f.observations:Array.isArray(f)?f:[];const enabled=[req.useFinlandContextOnly?'FI':null,req.useLatvia?'LV':null,req.useLithuania?'LT':null,req.usePoland?'PL':null,req.useBelarus?'BY':null,req.useRussia?'RU':null].filter(Boolean);const fp=rows.map((row,i)=>({id:clean(row.id)||'fr-'+i,lat:num(row.lat??row.latitude),lon:num(row.lon??row.lng??row.longitude),obsDt:iso(row.obsDt??row.observationDate??row.date),locName:clean(row.locName??row.hotspotName??row.name),howMany:num(row.howMany??row.recordCount??row.count),country:cc(row.country??row.countryCode??row.regionCode),region:clean(row.region??row.subnational1Code),daysAgo:Number.isFinite(Number(row.daysAgo))?Number(row.daysAgo):days(row.obsDt??row.observationDate??row.date),source:'eBird'})).filter(p=>p.lat!=null&&p.lon!=null&&enabled.includes(p.country));const fm=new Map();for(const p of fp){const k=(Math.round(p.lat*4)/4).toFixed(2)+':'+(Math.round(p.lon*4)/4).toFixed(2);(fm.get(k)||fm.set(k,[]).get(k)).push(p)}const fc=[...fm.entries()].map(([id,ps])=>({clusterId:id,lat:+(ps.reduce((s,p)=>s+p.lat,0)/ps.length).toFixed(5),lon:+(ps.reduce((s,p)=>s+p.lon,0)/ps.length).toFixed(5),count:ps.length,latestObsDt:ps.map(p=>p.obsDt).filter(Boolean).sort().reverse()[0]||null,countries:[...new Set(ps.map(p=>p.country))].sort(),locName:ps.map(p=>p.locName).filter(Boolean)[0]||id})).sort((a,b)=>b.count-a.count||String(b.latestObsDt||'').localeCompare(String(a.latestObsDt||'')));const foreignOk=fp.length>0&&fc.length>0;const wd=Number(w.windDirectionDegrees??w.windDirectionDeg??NaN);const weather={windDirection:clean(w.windDirection??w.wind_direction),windSpeed:Number(w.windSpeed??w.wind_speed??0),precipitation:Number(w.precipitation??w.precipitationMm??0),windSupportScore:Math.max(0,Math.min(100,Math.round((Number(w.windSpeed??w.wind_speed??0)||0)*4-Math.min((Number(w.precipitation??w.precipitationMm??0)||0)*3,20))))};const targets=clusters.map(c=>{const d=days(c.newestEventDate),rep=Math.min(c.count/8,1),rec=d==null?0.15:Math.max(0,1-Math.min(d,365)/365),season=c.recentCount>0?1:0.7;let nfk=null,support=[],wind=false,reason='Ranked from real Estonia history clusters; no foreign eBird pressure available in current run.',score=0,et=c.recentCount>0?'24-48h':eta(d==null?5:Math.max(2,Math.round(d/30)));if(foreignOk){const ds=fc.map(x=>({x,k:dist(x.lat,x.lon,c.lat,c.lon)})).filter(x=>x.k!=null).sort((a,b)=>a.k-b.k);const nearest=ds[0]||null;nfk=nearest?+nearest.k.toFixed(1):null;support=[...new Set(ds.filter(x=>x.k<=350).flatMap(x=>x.x.countries||[]))].sort();score=nfk==null?0:Math.max(0,1-Math.min(nfk,700)/700);const fb=nearest?bearing(nearest.x.lat,nearest.x.lon,c.lat,c.lon):null;wind=Number.isFinite(wd)&&fb!=null?Math.abs((((wd-fb)%360)+540)%360-180)<=45:false;const fresh=ds.map(x=>x.x.latestObsDt).filter(Boolean).sort().reverse()[0]||null;et=fresh?eta(Math.max(1,days(fresh)??2)):et;reason=nfk==null?'Ranked from real Estonia history clusters with supporting foreign eBird evidence.':'Ranked from real Estonia history clusters and nearby foreign eBird pressure; nearest relevant foreign cluster '+nfk+' km away.';if(wind)reason+=' Wind is aligned with the observed approach.'}let conf=0.2+rep*0.3+rec*0.2+season*0.15+score*0.15;if(!foreignOk)conf=Math.min(conf,0.65);else if(wind)conf=Math.min(0.92,conf+0.05);return{rank:0,name:c.label,countyOrParish:c.municipality||c.locality||'Estonia',lat:c.lat,lon:c.lon,confidence:+Math.max(0.15,Math.min(foreignOk?0.92:0.65,conf)).toFixed(2),eta:et,searchRadiusKm:Math.max(1,Math.round(Number(req.hotspotRadiusKm||5))),habitatCue:c.locality||c.municipality||'Real Estonia history cluster',reason,derivedFromClusterId:c.clusterId||c.id,supportingEstoniaHistoryCount:c.count,latestSupportingEstoniaDate:c.newestEventDate||null,supportingCountries:support,nearestRelevantForeignClusterKm:nfk,windAdjusted:wind}}).sort((a,b)=>b.confidence-a.confidence||b.supportingEstoniaHistoryCount-a.supportingEstoniaHistoryCount).slice(0,Math.max(1,Number(req.outputCount||5))).map((t,i)=>({...t,rank:i+1}));const vectors=foreignOk?targets.slice(0,3).map((t,i)=>{const m=fc.map(c=>({c,k:dist(c.lat,c.lon,t.lat,t.lon)})).filter(x=>x.k!=null).sort((a,b)=>a.k-b.k)[0];return m?{id:'vector-'+(i+1),kind:'route',fromLat:m.c.lat,fromLon:m.c.lon,toLat:t.lat,toLon:t.lon,bearing:bearing(m.c.lat,m.c.lon,t.lat,t.lon),supportingCountries:m.c.countries||[],windAdjusted:Boolean(t.windAdjusted)}:null}).filter(Boolean):[];const countryScores={latvia:0,lithuania:0,belarus:0,poland:0,russia:0,finlandContextOnly:0};for(const p of fp){if(p.country==='LV')countryScores.latvia=Math.min(100,countryScores.latvia+10);if(p.country==='LT')countryScores.lithuania=Math.min(100,countryScores.lithuania+10);if(p.country==='BY')countryScores.belarus=Math.min(100,countryScores.belarus+10);if(p.country==='PL')countryScores.poland=Math.min(100,countryScores.poland+10);if(p.country==='RU')countryScores.russia=Math.min(100,countryScores.russia+10);if(p.country==='FI')countryScores.finlandContextOnly=Math.min(100,countryScores.finlandContextOnly+10)}const sourceHealth=[...(foreignOk?[]:[{source:'eBird foreign',status:'warning',message:'No foreign eBird pressure available in current run.'}])];return[{json:{speciesKey:req.speciesKey,speciesName:req.speciesName,generatedAt:new Date().toISOString(),externalPressureScore:foreignOk?Math.min(100,fp.length*4):0,springFitScore:Math.min(100,clusters.length*12),windSupportScore:Number(weather.windSupportScore||0),routeVector:foreignOk?'foreign-pressure-supported':'',bestEntryZone:targets[0]?.countyOrParish||'',alreadyMissedRisk:'low',countryScores,topPredictedPoints:targets,predictedTargets:targets,historicalHotspots:clusters.slice(0,Math.max(1,targets.length||5)).map((c,i)=>({rank:i+1,name:c.label||c.name||c.clusterId,countyOrParish:c.municipality||c.locality||'Estonia',lat:c.lat,lon:c.lon,confidence:Math.min(0.65,0.25+Math.min(Number(c.count||0),8)*0.05),derivedFromClusterId:c.clusterId||c.id})),insightSummary:foreignOk?'Prediction combines real Estonia history clusters with foreign eBird pressure and current weather.':'Prediction is currently ranked from real Estonia history clusters only because no foreign eBird pressure was available in this run.',estoniaHistoryPoints:points,estoniaHistoryClusters:clusters,foreignRecentPoints:fp,foreignClusters:fc,foreignEvidence:fc,weather,predictionVectors:vectors,supportingCountries:foreignOk?[...new Set(fp.map(p=>p.country))].sort():[],sourceHealth,latestEstoniaDate:latest?latest.eventDate:null,latestEstoniaLat:latest?latest.lat:null,latestEstoniaLon:latest?latest.lon:null,estoniaEvidence:{latestEstoniaDate:latest?latest.eventDate:null,latestEstoniaLat:latest?latest.lat:null,latestEstoniaLon:latest?latest.lon:null,latestEstoniaLocality:latest?latest.locality:null,recentCount7d:Number(r.recentCount7d||0),recentCount30d:Number(r.recentCount30d||0),historicalEstoniaCount:points.length,clusterCount:clusters.length},rawResearchPayload:{request:{requestType:req.requestType,speciesKey:req.speciesKey,speciesName:req.speciesName,latinName:req.latinName,summaryStyle:req.summaryStyle,summaryMaxLength:Number(req.summaryMaxLength||450),enableOpenAISummary:Boolean(req.enableOpenAISummary)},normalizedSources:{estoniaHistoryPoints:points,estoniaHistoryClusters:clusters,foreignRecentPoints:fp,foreignClusters:fc,weather},predictionVectors:vectors,predictedTargets:targets,sourceHealth},openAIAnalysisInput:{speciesKey:req.speciesKey,speciesName:req.speciesName,estoniaHistoryClusters:clusters,foreignClusters:fc,weather,predictedTargets:targets,sourceHealth}}}];"
      },
      "id": "calculate_species_parameters",
      "name": "calculate_species_parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1110,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "final_response",
      "name": "final_response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Boolean($json.rawResearchPayload?.request?.requestType !== 'prediction' && $json.rawResearchPayload?.request?.enableOpenAISummary === true) }}",
              "operation": "true"
            }
          ]
        }
      },
      "id": "openai_analysis_gate",
      "name": "openai_analysis_gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ model: $env.OPENAI_MODEL || 'gpt-5-mini', temperature: 0.2, response_format: { type: 'json_schema', json_schema: { name: 'species_prediction_analysis', strict: true, schema: { type: 'object', additionalProperties: false, required: ['analysisVersion','insightSummary','confidenceNote','warnings','rerankedTopPredictedPoints','consistencyChecks'], properties: { analysisVersion: { type: 'string', const: 'openai_v1' }, insightSummary: { type: 'string' }, confidenceNote: { type: 'string' }, warnings: { type: 'array', items: { type: 'string' } }, rerankedTopPredictedPoints: { type: 'array', items: { type: 'object', additionalProperties: false, required: ['rank','name','countyOrParish','lat','lon','confidence','eta','searchRadiusKm','habitatCue','reason'], properties: { rank: { type: 'integer' }, name: { type: 'string' }, countyOrParish: { type: 'string' }, lat: { type: 'number' }, lon: { type: 'number' }, confidence: { type: 'number' }, eta: { type: 'string' }, searchRadiusKm: { type: 'number' }, habitatCue: { type: 'string' }, reason: { type: 'string' } } } }, consistencyChecks: { type: 'object', additionalProperties: false, required: ['routeLooksPlausible','timingLooksPlausible','weatherLooksSupportive','foreignPressureMatchesNarrative'], properties: { routeLooksPlausible: { type: 'boolean' }, timingLooksPlausible: { type: 'boolean' }, weatherLooksSupportive: { type: 'boolean' }, foreignPressureMatchesNarrative: { type: 'boolean' } } } } } } }, messages: [{ role: 'system', content: 'You are refining a species prediction for Estonian birding. Use only the provided evidence. Never invent countries, sightings, coordinates, or hotspots. You may only rerank or adjust the provided candidate points. If evidence is contradictory, say so briefly. Keep the summary short, concrete, and useful for birding decisions.' }, { role: 'user', content: JSON.stringify({ instructions: { summaryStyle: $json.rawResearchPayload?.request?.summaryStyle || 'field_use', summaryMaxLength: Number($json.rawResearchPayload?.request?.summaryMaxLength || 450), allowedCoordinatesOnly: true, candidatePointsMustRemainSubsetOfProvidedPoints: true }, evidence: $json.openAIAnalysisInput || {} }) }] }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "openai_analysis_request",
      "name": "openai_analysis_request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('calculate_species_parameters').first().json || {};\nconst raw = $json || {};\nconst content = String((((raw || {}).choices || [])[0] || {}).message?.content || '').trim();\nif (!content) return [{ json: { ...base, analysisFallbackUsed: true } }];\nlet parsed;\ntry { parsed = JSON.parse(content); } catch (_error) { return [{ json: { ...base, analysisFallbackUsed: true } }]; }\nconst allowed = new Set((Array.isArray(base.topPredictedPoints) ? base.topPredictedPoints : []).map((point) => String(point.name || '') + '|' + Number(point.lat || 0) + '|' + Number(point.lon || 0)));\nconst reranked = Array.isArray(parsed.rerankedTopPredictedPoints) ? parsed.rerankedTopPredictedPoints : [];\nfor (const point of reranked) {\n  const key = String(point?.name || '') + '|' + Number(point?.lat || 0) + '|' + Number(point?.lon || 0);\n  if (!allowed.has(key)) return [{ json: { ...base, analysisFallbackUsed: true } }];\n}\nreturn [{ json: { ...base, parsedOpenAIAnalysis: parsed, analysisFallbackUsed: false } }];"
      },
      "id": "parse_openai_analysis",
      "name": "parse_openai_analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $json || {};\nconst analysis = base.parsedOpenAIAnalysis;\nif (!analysis || typeof analysis !== 'object') return [{ json: { ...base, analysisFallbackUsed: true } }];\nconst openaiAnalysis = {\n  analysisVersion: String(analysis.analysisVersion || 'openai_v1'),\n  insightSummary: String(analysis.insightSummary || base.insightSummary || ''),\n  confidenceNote: String(analysis.confidenceNote || ''),\n  warnings: Array.isArray(analysis.warnings) ? analysis.warnings.map((warning) => String(warning || '').trim()).filter(Boolean) : [],\n  rerankedTopPredictedPoints: Array.isArray(analysis.rerankedTopPredictedPoints) ? analysis.rerankedTopPredictedPoints : [],\n  consistencyChecks: analysis.consistencyChecks || { routeLooksPlausible: false, timingLooksPlausible: false, weatherLooksSupportive: false, foreignPressureMatchesNarrative: false },\n};\nreturn [{ json: { ...base, insightSummary: openaiAnalysis.insightSummary || base.insightSummary || '', analysisVersion: openaiAnalysis.analysisVersion, analysisFallbackUsed: false, confidenceNote: openaiAnalysis.confidenceNote, warnings: openaiAnalysis.warnings, rerankedTopPredictedPoints: openaiAnalysis.rerankedTopPredictedPoints, consistencyChecks: openaiAnalysis.consistencyChecks, openaiAnalysis } }];"
      },
      "id": "merge_openai_analysis",
      "name": "merge_openai_analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        220
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "prediction_request": {
      "main": [
        [
          {
            "node": "normalize_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_input": {
      "main": [
        [
          {
            "node": "fetch_ebird_foreign",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch_elurikkus_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch_estonia_recent",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch_weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate_species_parameters": {
      "main": [
        [
          {
            "node": "openai_analysis_gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_ebird_foreign": {
      "main": [
        [
          {
            "node": "calculate_species_parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_elurikkus_history": {
      "main": [
        [
          {
            "node": "calculate_species_parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_estonia_recent": {
      "main": [
        [
          {
            "node": "calculate_species_parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_weather": {
      "main": [
        [
          {
            "node": "calculate_species_parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_analysis_gate": {
      "main": [
        [
          {
            "node": "openai_analysis_request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "final_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "openai_analysis_request": {
      "main": [
        [
          {
            "node": "parse_openai_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_openai_analysis": {
      "main": [
        [
          {
            "node": "merge_openai_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_openai_analysis": {
      "main": [
        [
          {
            "node": "final_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "species-prediction-real-sources-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "species_prediction_api_real_sources",
  "tags": []
}
