docs/species_prediction_api_real_sources.json
{"name":"Species Prediction API - Real Sources","nodes":[{"parameters":{"httpMethod":"POST","path":"species-prediction","responseMode":"responseNode","options":{}},"id":"prediction_request","name":"prediction_request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"webhookId":"species-prediction"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"requestType","value":"={{ String($json.body?.requestType || $json.requestType || 'prediction_and_insight') }}"},{"name":"speciesKey","value":"={{ String($json.body?.species?.key || $json.species?.key || '').trim() }}"},{"name":"speciesName","value":"={{ String($json.body?.species?.name || $json.species?.name || '').trim() }}"},{"name":"latinName","value":"={{ String($json.body?.species?.latinName || $json.species?.latinName || '').trim() }}"},{"name":"predictionMode","value":"={{ String($json.body?.settings?.predictionMode || $json.settings?.predictionMode || 'precise_hotspot') }}"},{"name":"summaryStyle","value":"={{ String($json.body?.settings?.summaryStyle || $json.settings?.summaryStyle || 'field_use') }}"}],"number":[{"name":"outputCount","value":"={{ Number($json.body?.settings?.outputCount || $json.settings?.outputCount || 5) }}"},{"name":"searchRadiusKm","value":"={{ Number($json.body?.settings?.searchRadiusKm || $json.settings?.searchRadiusKm || 35) }}"},{"name":"hotspotRadiusKm","value":"={{ Number($json.body?.settings?.hotspotRadiusKm || $json.settings?.hotspotRadiusKm || 5) }}"},{"name":"hotspotCount","value":"={{ Number($json.body?.settings?.hotspotCount || $json.settings?.hotspotCount || 5) }}"},{"name":"summaryMaxLength","value":"={{ Number($json.body?.settings?.summaryMaxLength || $json.settings?.summaryMaxLength || 450) }}"}],"boolean":[{"name":"useLatvia","value":"={{ Boolean($json.body?.settings?.useLatvia ?? $json.settings?.useLatvia ?? true) }}"},{"name":"useLithuania","value":"={{ Boolean($json.body?.settings?.useLithuania ?? $json.settings?.useLithuania ?? true) }}"},{"name":"useBelarus","value":"={{ Boolean($json.body?.settings?.useBelarus ?? $json.settings?.useBelarus ?? true) }}"},{"name":"usePoland","value":"={{ Boolean($json.body?.settings?.usePoland ?? $json.settings?.usePoland ?? true) }}"},{"name":"useRussia","value":"={{ Boolean($json.body?.settings?.useRussia ?? $json.settings?.useRussia ?? true) }}"},{"name":"useFinlandContextOnly","value":"={{ Boolean($json.body?.settings?.useFinlandContextOnly ?? $json.settings?.useFinlandContextOnly ?? true) }}"},{"name":"enableOpenAISummary","value":"={{ Boolean($json.body?.settings?.enableOpenAISummary ?? $json.settings?.enableOpenAISummary ?? true) }}"}]}},"id":"normalize_input","name":"normalize_input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[470,300]},{"parameters":{"url":"=https://REPLACE_EBIRD_FOREIGN_ENDPOINT.example/api/species/{{$json.speciesKey}}/foreign-sightings","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"speciesName","value":"={{ $json.speciesName }}"},{"name":"latinName","value":"={{ $json.latinName }}"},{"name":"countries","value":"={{ ['latvia','lithuania','belarus','poland','russia','finland'].filter((country) => ({ latvia: $json.useLatvia, lithuania: $json.useLithuania, belarus: $json.useBelarus, poland: $json.usePoland, russia: $json.useRussia, finland: $json.useFinlandContextOnly })[country]).join(',') }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_ebird_foreign","name":"fetch_ebird_foreign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,40]},{"parameters":{"url":"=https://REPLACE_ELURIKKUS_HISTORY_ENDPOINT.example/api/species/{{$json.speciesKey}}/history","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"speciesName","value":"={{ $json.speciesName }}"},{"name":"precisionMode","value":"={{ $json.predictionMode }}"},{"name":"hotspotRadiusKm","value":"={{ $json.hotspotRadiusKm }}"},{"name":"hotspotCount","value":"={{ $json.hotspotCount }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_elurikkus_history","name":"fetch_elurikkus_history","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,220]},{"parameters":{"url":"=https://REPLACE_ESTONIA_RECENT_ENDPOINT.example/api/species/{{$json.speciesKey}}/recent","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"speciesName","value":"={{ $json.speciesName }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_estonia_recent","name":"fetch_estonia_recent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,400]},{"parameters":{"url":"=https://REPLACE_WEATHER_ENDPOINT.example/api/migration/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"predictionMode","value":"={{ $json.predictionMode }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_weather","name":"fetch_weather","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,580]},{"parameters":{"jsCode":"const req = $('normalize_input').first().json;\nconst foreign = $('fetch_ebird_foreign').first().json || {};\nconst history = $('fetch_elurikkus_history').first().json || {};\nconst recent = $('fetch_estonia_recent').first().json || {};\nconst weather = $('fetch_weather').first().json || {};\nconst priority = ['latvia', 'lithuania', 'belarus', 'poland', 'russia'];\nconst enabled = priority.filter((country) => ({ latvia: req.useLatvia, lithuania: req.useLithuania, belarus: req.useBelarus, poland: req.usePoland, russia: req.useRussia })[country]);\nconst rows = (Array.isArray(foreign.rows) ? foreign.rows : []).map((row) => ({\n  country: String(row.country || '').toLowerCase(),\n  daysAgo: Number(row.daysAgo || 0),\n  distanceToEstoniaKm: Number(row.distanceToEstoniaKm || 0),\n  recordCount: Number(row.recordCount || 0),\n  lat: Number(row.lat || 0),\n  lon: Number(row.lon || 0),\n  hotspotName: String(row.hotspotName || row.name || '').trim(),\n  countyOrParish: String(row.countyOrParish || row.region || '').trim(),\n  habitatCue: String(row.habitatCue || '').trim(),\n})).filter((row) => row.country && (enabled.includes(row.country) || row.country === 'finland'));\nconst countryScores = { latvia: 0, lithuania: 0, belarus: 0, poland: 0, russia: 0 };\nfor (const country of priority) {\n  const score = rows.filter((row) => row.country === country).reduce((sum, row) => sum + Math.max(0, 20 - row.daysAgo * 2.5) + Math.max(0, 20 - row.distanceToEstoniaKm / 80) + Math.min(30, row.recordCount * 3) + ((row.lat !== 0 || row.lon !== 0) ? 10 : 0), 0);\n  countryScores[country] = Math.max(0, Math.min(100, Math.round(score)));\n}\nconst finlandContextOnly = Math.max(0, Math.min(100, Math.round(rows.filter((row) => row.country === 'finland').reduce((sum, row) => sum + Math.min(25, row.recordCount * 2), 0))));\nconst primary = enabled.map((country) => ({ country, score: countryScores[country] || 0 })).sort((a, b) => b.score - a.score)[0] || { country: 'latvia', score: 0 };\nconst springFitScore = Math.max(0, Math.min(100, Math.round(Number(history.springFitScore || 0) * 0.7 + Math.min(30, (Array.isArray(history.historicalHotspots) ? history.historicalHotspots.length : 0) * 6))));\nconst windSupportScore = Math.max(0, Math.min(100, Math.round(Number(weather.windSupportScore || 0))));\nconst externalPressureScore = Math.max(0, Math.min(100, Math.round(enabled.reduce((sum, country, index) => sum + (countryScores[country] || 0) * Math.max(1, 5 - index), 0) / Math.max(1, enabled.reduce((sum, _country, index) => sum + Math.max(1, 5 - index), 0)))));\nconst routeVector = primary.score > 0 ? (primary.country + '->estonia ' + (String(weather.windDirection || 'variable').trim() || 'variable')) : ('regional_estonia ' + (String(weather.windDirection || 'variable').trim() || 'variable'));\nconst bestEntryZone = primary.country === 'latvia' ? 'Southwest Estonia' : primary.country === 'lithuania' ? 'South Estonia' : primary.country === 'belarus' ? 'Southeast Estonia' : primary.country === 'poland' ? 'West Estonia' : primary.country === 'russia' ? 'East Estonia' : 'West Estonia';\nconst alreadyMissedRisk = recent.alreadyPassed ? 'high' : ((recent.alreadyPresent || Number(recent.recentCount7d || 0) > 10) ? 'medium' : 'low');\nconst candidates = [\n  ...(Array.isArray(history.historicalHotspots) ? history.historicalHotspots : []).map((row) => ({\n    name: String(row.name || '').trim(), countyOrParish: String(row.countyOrParish || '').trim(), lat: Number(row.lat || 0), lon: Number(row.lon || 0), confidence: Math.max(0, Math.min(100, Math.round(Number(row.confidence || 0)))), habitatCue: String(row.habitatCue || '').trim(), reason: String(row.reason || '').trim(),\n  })),\n  ...rows.filter((row) => row.lat !== 0 || row.lon !== 0).map((row) => ({\n    name: row.hotspotName || (row.country + ' migration hotspot'), countyOrParish: row.countyOrParish || row.country, lat: row.lat, lon: row.lon, confidence: Math.max(0, Math.min(100, Math.round(50 + row.recordCount * 4 - row.daysAgo * 3))), habitatCue: row.habitatCue || 'Migration stopover habitat', reason: row.country + ' pressure ' + row.recordCount + ' recent records within ' + row.distanceToEstoniaKm + ' km',\n  })),\n].filter((point) => point.name && (point.lat !== 0 || point.lon !== 0));\nconst seen = new Set();\nconst topPredictedPoints = candidates.filter((point) => { const key = point.name + '|' + point.lat + '|' + point.lon; if (seen.has(key)) return false; seen.add(key); return true; }).sort((a, b) => Number(b.confidence || 0) - Number(a.confidence || 0)).slice(0, Math.max(1, Number(req.outputCount || 5))).map((point, index) => ({ rank: index + 1, name: point.name, countyOrParish: point.countyOrParish || bestEntryZone, lat: Number(point.lat || 0), lon: Number(point.lon || 0), confidence: Math.max(0, Math.min(100, Math.round(Number(point.confidence || 0)))), eta: index === 0 ? '24-48h' : (index < 3 ? '48-72h' : '3-5d'), searchRadiusKm: Math.max(1, Math.round(Number(req.hotspotRadiusKm || 5))), habitatCue: point.habitatCue || 'Migration habitat', reason: point.reason || ('Weighted by ' + primary.country + ' source pressure and spring fit') }));\nconst fallback = topPredictedPoints.length ? topPredictedPoints : [{ rank: 1, name: req.speciesName + ' primary hotspot candidate', countyOrParish: bestEntryZone, lat: 58.6, lon: 24.8, confidence: Math.max(25, Math.round((externalPressureScore + springFitScore + windSupportScore) / 3)), eta: '2-4d', searchRadiusKm: Math.max(1, Math.round(Number(req.hotspotRadiusKm || 5))), habitatCue: 'Check exact coastal and wetland hotspots', reason: 'No precise hotspot coordinates returned from upstream sources; using exact-point fallback placeholder' }];\nconst deterministicSummary = req.requestType === 'prediction' ? '' : (req.speciesName + ': strongest spring driver is ' + primary.country + ' pressure, spring fit is ' + springFitScore + '/100, wind support is ' + windSupportScore + '/100.');\nconst foreignSightingsSummary = rows.slice(0, 8).map((row) => ({ country: row.country, hotspotName: row.hotspotName || '', countyOrParish: row.countyOrParish, daysAgo: row.daysAgo, distanceToEstoniaKm: row.distanceToEstoniaKm, recordCount: row.recordCount, lat: row.lat, lon: row.lon, habitatCue: row.habitatCue }));\nconst historicalHotspotSummary = (Array.isArray(history.historicalHotspots) ? history.historicalHotspots : []).slice(0, 8).map((row) => ({ name: String(row.name || '').trim(), countyOrParish: String(row.countyOrParish || '').trim(), lat: Number(row.lat || 0), lon: Number(row.lon || 0), confidence: Number(row.confidence || 0), habitatCue: String(row.habitatCue || '').trim(), reason: String(row.reason || '').trim() }));\nconst recentEstoniaPresenceSummary = { alreadyPresent: Boolean(recent.alreadyPresent), alreadyPassed: Boolean(recent.alreadyPassed), recentCount7d: Number(recent.recentCount7d || 0), recentCount30d: Number(recent.recentCount30d || 0) };\nconst weatherSummary = { windSupportScore: windSupportScore, windDirection: String(weather.windDirection || ''), windSpeed: Number(weather.windSpeed || 0), precipitation: Number(weather.precipitation || 0) };\nconst openAIAnalysisInput = { speciesKey: req.speciesKey, speciesName: req.speciesName, latinName: req.latinName, countryScores: { latvia: countryScores.latvia, lithuania: countryScores.lithuania, belarus: countryScores.belarus, poland: countryScores.poland, russia: countryScores.russia, ...(req.useFinlandContextOnly ? { finlandContextOnly } : {}) }, externalPressureScore, springFitScore, windSupportScore, routeVector, bestEntryZone, alreadyMissedRisk, foreignSightingsSummary, historicalHotspotSummary, recentEstoniaPresenceSummary, weatherSummary, currentTopPredictedPoints: fallback };\nreturn [{ json: { speciesKey: req.speciesKey, speciesName: req.speciesName, generatedAt: new Date().toISOString(), externalPressureScore, springFitScore, windSupportScore, routeVector, bestEntryZone, alreadyMissedRisk, countryScores: { latvia: countryScores.latvia, lithuania: countryScores.lithuania, belarus: countryScores.belarus, poland: countryScores.poland, russia: countryScores.russia, ...(req.useFinlandContextOnly ? { finlandContextOnly } : {}) }, topPredictedPoints: fallback, analysisFallbackUsed: false, ...(deterministicSummary ? { insightSummary: deterministicSummary } : {}), rawResearchPayload: { request: { requestType: req.requestType, speciesKey: req.speciesKey, speciesName: req.speciesName, latinName: req.latinName, predictionMode: req.predictionMode, summaryStyle: req.summaryStyle, summaryMaxLength: Number(req.summaryMaxLength || 450), enableOpenAISummary: Boolean(req.enableOpenAISummary) }, normalizedSources: { foreignSightings: rows.map((row) => ({ country: row.country, daysAgo: row.daysAgo, distanceToEstoniaKm: row.distanceToEstoniaKm, recordCount: row.recordCount, lat: row.lat, lon: row.lon })), elurikkusHistory: { springFitScore: Number(history.springFitScore || 0), historicalHotspots: Array.isArray(history.historicalHotspots) ? history.historicalHotspots : [], habitatHints: Array.isArray(history.habitatHints) ? history.habitatHints : [], arrivalWindow: String(history.arrivalWindow || '') }, estoniaRecent: recentEstoniaPresenceSummary, weather: weatherSummary }, openAIAnalysisInput }, openAIAnalysisInput } }];"},"id":"calculate_species_parameters","name":"calculate_species_parameters","type":"n8n-nodes-base.code","typeVersion":2,"position":[1110,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"id":"final_response","name":"final_response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1780,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ Boolean($json.rawResearchPayload?.request?.requestType !== 'prediction' && $json.rawResearchPayload?.request?.enableOpenAISummary === true) }}","operation":"true"}]}},"id":"openai_analysis_gate","name":"openai_analysis_gate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,300]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{$env.OPENAI_API_KEY}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ ({ model: $env.OPENAI_MODEL || 'gpt-5-mini', temperature: 0.2, response_format: { type: 'json_schema', json_schema: { name: 'species_prediction_analysis', strict: true, schema: { type: 'object', additionalProperties: false, required: ['analysisVersion','insightSummary','confidenceNote','warnings','rerankedTopPredictedPoints','consistencyChecks'], properties: { analysisVersion: { type: 'string', const: 'openai_v1' }, insightSummary: { type: 'string' }, confidenceNote: { type: 'string' }, warnings: { type: 'array', items: { type: 'string' } }, rerankedTopPredictedPoints: { type: 'array', items: { type: 'object', additionalProperties: false, required: ['rank','name','countyOrParish','lat','lon','confidence','eta','searchRadiusKm','habitatCue','reason'], properties: { rank: { type: 'integer' }, name: { type: 'string' }, countyOrParish: { type: 'string' }, lat: { type: 'number' }, lon: { type: 'number' }, confidence: { type: 'number' }, eta: { type: 'string' }, searchRadiusKm: { type: 'number' }, habitatCue: { type: 'string' }, reason: { type: 'string' } } } }, consistencyChecks: { type: 'object', additionalProperties: false, required: ['routeLooksPlausible','timingLooksPlausible','weatherLooksSupportive','foreignPressureMatchesNarrative'], properties: { routeLooksPlausible: { type: 'boolean' }, timingLooksPlausible: { type: 'boolean' }, weatherLooksSupportive: { type: 'boolean' }, foreignPressureMatchesNarrative: { type: 'boolean' } } } } } } }, messages: [{ role: 'system', content: 'You are refining a species prediction for Estonian birding. Use only the provided evidence. Never invent countries, sightings, coordinates, or hotspots. You may only rerank or adjust the provided candidate points. If evidence is contradictory, say so briefly. Keep the summary short, concrete, and useful for birding decisions.' }, { role: 'user', content: JSON.stringify({ instructions: { summaryStyle: $json.rawResearchPayload?.request?.summaryStyle || 'field_use', summaryMaxLength: Number($json.rawResearchPayload?.request?.summaryMaxLength || 450), allowedCoordinatesOnly: true, candidatePointsMustRemainSubsetOfProvidedPoints: true }, evidence: $json.openAIAnalysisInput || {} }) }] }) }}","options":{"timeout":30000,"response":{"response":{"responseFormat":"json"}}}},"id":"openai_analysis_request","name":"openai_analysis_request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,220]},{"parameters":{"jsCode":"const base = $('calculate_species_parameters').first().json || {};\nconst raw = $json || {};\nconst content = String((((raw || {}).choices || [])[0] || {}).message?.content || '').trim();\nif (!content) return [{ json: { ...base, analysisFallbackUsed: true } }];\nlet parsed;\ntry { parsed = JSON.parse(content); } catch (_error) { return [{ json: { ...base, analysisFallbackUsed: true } }]; }\nconst allowed = new Set((Array.isArray(base.topPredictedPoints) ? base.topPredictedPoints : []).map((point) => String(point.name || '') + '|' + Number(point.lat || 0) + '|' + Number(point.lon || 0)));\nconst reranked = Array.isArray(parsed.rerankedTopPredictedPoints) ? parsed.rerankedTopPredictedPoints : [];\nfor (const point of reranked) {\n  const key = String(point?.name || '') + '|' + Number(point?.lat || 0) + '|' + Number(point?.lon || 0);\n  if (!allowed.has(key)) return [{ json: { ...base, analysisFallbackUsed: true } }];\n}\nreturn [{ json: { ...base, parsedOpenAIAnalysis: parsed, analysisFallbackUsed: false } }];"},"id":"parse_openai_analysis","name":"parse_openai_analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,220]},{"parameters":{"jsCode":"const base = $json || {};\nconst analysis = base.parsedOpenAIAnalysis;\nif (!analysis || typeof analysis !== 'object') return [{ json: { ...base, analysisFallbackUsed: true } }];\nconst openaiAnalysis = {\n  analysisVersion: String(analysis.analysisVersion || 'openai_v1'),\n  insightSummary: String(analysis.insightSummary || base.insightSummary || ''),\n  confidenceNote: String(analysis.confidenceNote || ''),\n  warnings: Array.isArray(analysis.warnings) ? analysis.warnings.map((warning) => String(warning || '').trim()).filter(Boolean) : [],\n  rerankedTopPredictedPoints: Array.isArray(analysis.rerankedTopPredictedPoints) ? analysis.rerankedTopPredictedPoints : [],\n  consistencyChecks: analysis.consistencyChecks || { routeLooksPlausible: false, timingLooksPlausible: false, weatherLooksSupportive: false, foreignPressureMatchesNarrative: false },\n};\nreturn [{ json: { ...base, insightSummary: openaiAnalysis.insightSummary || base.insightSummary || '', analysisVersion: openaiAnalysis.analysisVersion, analysisFallbackUsed: false, confidenceNote: openaiAnalysis.confidenceNote, warnings: openaiAnalysis.warnings, rerankedTopPredictedPoints: openaiAnalysis.rerankedTopPredictedPoints, consistencyChecks: openaiAnalysis.consistencyChecks, openaiAnalysis } }];"},"id":"merge_openai_analysis","name":"merge_openai_analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,220]}],"pinData":{},"connections":{"prediction_request":{"main":[[{"node":"normalize_input","type":"main","index":0}]]},"normalize_input":{"main":[[{"node":"fetch_ebird_foreign","type":"main","index":0},{"node":"fetch_elurikkus_history","type":"main","index":0},{"node":"fetch_estonia_recent","type":"main","index":0},{"node":"fetch_weather","type":"main","index":0}]]},"calculate_species_parameters":{"main":[[{"node":"openai_analysis_gate","type":"main","index":0}]]},"fetch_ebird_foreign":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"fetch_elurikkus_history":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"fetch_estonia_recent":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"fetch_weather":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"openai_analysis_gate":{"main":[[{"node":"openai_analysis_request","type":"main","index":0}],[{"node":"final_response","type":"main","index":0}]]},"openai_analysis_request":{"main":[[{"node":"parse_openai_analysis","type":"main","index":0}]]},"parse_openai_analysis":{"main":[[{"node":"merge_openai_analysis","type":"main","index":0}]]},"merge_openai_analysis":{"main":[[{"node":"final_response","type":"main","index":0}]]}},"active":false,"settings":{},"versionId":"species-prediction-real-sources-v1","meta":{"templateCredsSetupCompleted":false},"id":"species_prediction_api_real_sources","tags":[]}
