docs/species_prediction_api_real_sources.json
{"name":"Species Prediction API - Real Sources","nodes":[{"parameters":{"httpMethod":"POST","path":"species-prediction","responseMode":"responseNode","options":{}},"id":"prediction_request","name":"prediction_request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"webhookId":"species-prediction"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"requestType","value":"={{ String($json.body?.requestType || $json.requestType || 'prediction_and_insight') }}"},{"name":"speciesKey","value":"={{ String($json.body?.species?.key || $json.species?.key || '').trim() }}"},{"name":"speciesName","value":"={{ String($json.body?.species?.name || $json.species?.name || '').trim() }}"},{"name":"latinName","value":"={{ String($json.body?.species?.latinName || $json.species?.latinName || '').trim() }}"},{"name":"predictionMode","value":"={{ String($json.body?.settings?.predictionMode || $json.settings?.predictionMode || 'precise_hotspot') }}"},{"name":"summaryStyle","value":"={{ String($json.body?.settings?.summaryStyle || $json.settings?.summaryStyle || 'field_use') }}"}],"number":[{"name":"outputCount","value":"={{ Number($json.body?.settings?.outputCount || $json.settings?.outputCount || 5) }}"},{"name":"searchRadiusKm","value":"={{ Number($json.body?.settings?.searchRadiusKm || $json.settings?.searchRadiusKm || 35) }}"},{"name":"hotspotRadiusKm","value":"={{ Number($json.body?.settings?.hotspotRadiusKm || $json.settings?.hotspotRadiusKm || 5) }}"},{"name":"hotspotCount","value":"={{ Number($json.body?.settings?.hotspotCount || $json.settings?.hotspotCount || 5) }}"}],"boolean":[{"name":"useLatvia","value":"={{ Boolean($json.body?.settings?.useLatvia ?? $json.settings?.useLatvia ?? true) }}"},{"name":"useLithuania","value":"={{ Boolean($json.body?.settings?.useLithuania ?? $json.settings?.useLithuania ?? true) }}"},{"name":"useBelarus","value":"={{ Boolean($json.body?.settings?.useBelarus ?? $json.settings?.useBelarus ?? true) }}"},{"name":"usePoland","value":"={{ Boolean($json.body?.settings?.usePoland ?? $json.settings?.usePoland ?? true) }}"},{"name":"useRussia","value":"={{ Boolean($json.body?.settings?.useRussia ?? $json.settings?.useRussia ?? true) }}"},{"name":"useFinlandContextOnly","value":"={{ Boolean($json.body?.settings?.useFinlandContextOnly ?? $json.settings?.useFinlandContextOnly ?? true) }}"},{"name":"enableOpenAISummary","value":"={{ Boolean($json.body?.settings?.enableOpenAISummary ?? $json.settings?.enableOpenAISummary ?? true) }}"}]}},"id":"normalize_input","name":"normalize_input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[470,300]},{"parameters":{"url":"=https://REPLACE_EBIRD_FOREIGN_ENDPOINT.example/api/species/{{$json.speciesKey}}/foreign-sightings","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"speciesName","value":"={{ $json.speciesName }}"},{"name":"latinName","value":"={{ $json.latinName }}"},{"name":"countries","value":"={{ ['latvia','lithuania','belarus','poland','russia','finland'].filter((country) => ({ latvia: $json.useLatvia, lithuania: $json.useLithuania, belarus: $json.useBelarus, poland: $json.usePoland, russia: $json.useRussia, finland: $json.useFinlandContextOnly })[country]).join(',') }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_ebird_foreign","name":"fetch_ebird_foreign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,40]},{"parameters":{"url":"=https://REPLACE_ELURIKKUS_HISTORY_ENDPOINT.example/api/species/{{$json.speciesKey}}/history","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"speciesName","value":"={{ $json.speciesName }}"},{"name":"precisionMode","value":"={{ $json.predictionMode }}"},{"name":"hotspotRadiusKm","value":"={{ $json.hotspotRadiusKm }}"},{"name":"hotspotCount","value":"={{ $json.hotspotCount }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_elurikkus_history","name":"fetch_elurikkus_history","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,220]},{"parameters":{"url":"=https://REPLACE_ESTONIA_RECENT_ENDPOINT.example/api/species/{{$json.speciesKey}}/recent","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"speciesName","value":"={{ $json.speciesName }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_estonia_recent","name":"fetch_estonia_recent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,400]},{"parameters":{"url":"=https://REPLACE_WEATHER_ENDPOINT.example/api/migration/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"speciesKey","value":"={{ $json.speciesKey }}"},{"name":"predictionMode","value":"={{ $json.predictionMode }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fetch_weather","name":"fetch_weather","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[770,580]},{"parameters":{"jsCode":"const req=$('normalize_input').first().json;const foreign=$('fetch_ebird_foreign').first().json||{};const history=$('fetch_elurikkus_history').first().json||{};const recent=$('fetch_estonia_recent').first().json||{};const weather=$('fetch_weather').first().json||{};const priority=['latvia','lithuania','belarus','poland','russia'];const enabled=priority.filter((c)=>({latvia:req.useLatvia,lithuania:req.useLithuania,belarus:req.useBelarus,poland:req.usePoland,russia:req.useRussia})[c]);const rows=(Array.isArray(foreign.rows)?foreign.rows:[]).map((row)=>({country:String(row.country||'').toLowerCase(),daysAgo:Number(row.daysAgo||0),distanceToEstoniaKm:Number(row.distanceToEstoniaKm||0),recordCount:Number(row.recordCount||0),lat:Number(row.lat||0),lon:Number(row.lon||0),hotspotName:String(row.hotspotName||row.name||'').trim(),countyOrParish:String(row.countyOrParish||row.region||'').trim(),habitatCue:String(row.habitatCue||'').trim()})).filter((row)=>row.country&&(enabled.includes(row.country)||row.country==='finland'));const countryScores={latvia:0,lithuania:0,belarus:0,poland:0,russia:0};for(const country of priority){const score=rows.filter((row)=>row.country===country).reduce((sum,row)=>sum+Math.max(0,20-row.daysAgo*2.5)+Math.max(0,20-row.distanceToEstoniaKm/80)+Math.min(30,row.recordCount*3)+((row.lat!==0||row.lon!==0)?10:0),0);countryScores[country]=Math.max(0,Math.min(100,Math.round(score)));}const finlandContextOnly=Math.max(0,Math.min(100,Math.round(rows.filter((row)=>row.country==='finland').reduce((sum,row)=>sum+Math.min(25,row.recordCount*2),0))));const primary=enabled.map((country)=>({country,score:countryScores[country]||0})).sort((a,b)=>b.score-a.score)[0]||{country:'latvia',score:0};const springFitScore=Math.max(0,Math.min(100,Math.round(Number(history.springFitScore||0)*0.7+Math.min(30,(Array.isArray(history.historicalHotspots)?history.historicalHotspots.length:0)*6))));const windSupportScore=Math.max(0,Math.min(100,Math.round(Number(weather.windSupportScore||0))));const externalPressureScore=Math.max(0,Math.min(100,Math.round(enabled.reduce((sum,c,index)=>sum+(countryScores[c]||0)*Math.max(1,5-index),0)/Math.max(1,enabled.reduce((sum,_c,index)=>sum+Math.max(1,5-index),0)))));const routeVector=primary.score>0?`${primary.country}->estonia ${String(weather.windDirection||'variable').trim()||'variable'}`:`regional_estonia ${String(weather.windDirection||'variable').trim()||'variable'}`;const bestEntryZone=primary.country==='latvia'?'Southwest Estonia':primary.country==='lithuania'?'South Estonia':primary.country==='belarus'?'Southeast Estonia':primary.country==='poland'?'West Estonia':primary.country==='russia'?'East Estonia':'West Estonia';const alreadyMissedRisk=recent.alreadyPassed?'high':(recent.alreadyPresent||Number(recent.recentCount7d||0)>10)?'medium':'low';const candidates=[...(Array.isArray(history.historicalHotspots)?history.historicalHotspots:[]).map((row)=>({name:String(row.name||'').trim(),countyOrParish:String(row.countyOrParish||'').trim(),lat:Number(row.lat||0),lon:Number(row.lon||0),confidence:Math.max(0,Math.min(100,Math.round(Number(row.confidence||0)))),habitatCue:String(row.habitatCue||'').trim(),reason:String(row.reason||'').trim()})),...rows.filter((row)=>row.lat!==0||row.lon!==0).map((row)=>({name:row.hotspotName||`${row.country} migration hotspot`,countyOrParish:row.countyOrParish||row.country,lat:row.lat,lon:row.lon,confidence:Math.max(0,Math.min(100,Math.round(50+row.recordCount*4-row.daysAgo*3))),habitatCue:row.habitatCue||'Migration stopover habitat',reason:`${row.country} pressure ${row.recordCount} recent records within ${row.distanceToEstoniaKm} km`}))].filter((p)=>p.name&&(p.lat!==0||p.lon!==0));const seen=new Set();const topPredictedPoints=(candidates.filter((p)=>{const key=`${p.name}|${p.lat}|${p.lon}`;if(seen.has(key))return false;seen.add(key);return true;}).sort((a,b)=>Number(b.confidence||0)-Number(a.confidence||0)).slice(0,Math.max(1,Number(req.outputCount||5))).map((point,index)=>({rank:index+1,name:point.name,countyOrParish:point.countyOrParish||bestEntryZone,lat:Number(point.lat||0),lon:Number(point.lon||0),confidence:Math.max(0,Math.min(100,Math.round(Number(point.confidence||0)))),eta:index===0?'24-48h':index<3?'48-72h':'3-5d',searchRadiusKm:Math.max(1,Math.round(Number(req.hotspotRadiusKm||5))),habitatCue:point.habitatCue||'Migration habitat',reason:point.reason||`Weighted by ${primary.country} source pressure and spring fit`})));const fallback=topPredictedPoints.length?topPredictedPoints:[{rank:1,name:`${req.speciesName} primary hotspot candidate`,countyOrParish:bestEntryZone,lat:58.6,lon:24.8,confidence:Math.max(25,Math.round((externalPressureScore+springFitScore+windSupportScore)/3)),eta:'2-4d',searchRadiusKm:Math.max(1,Math.round(Number(req.hotspotRadiusKm||5))),habitatCue:'Check exact coastal and wetland hotspots',reason:'No precise hotspot coordinates returned from upstream sources; using exact-point fallback placeholder'}];const insightSummary=req.requestType==='prediction'?'':`${req.speciesName}: strongest spring driver is ${primary.country} pressure, spring fit is ${springFitScore}/100, wind support is ${windSupportScore}/100.`;return [{json:{speciesKey:req.speciesKey,speciesName:req.speciesName,generatedAt:new Date().toISOString(),externalPressureScore,springFitScore,windSupportScore,routeVector,bestEntryZone,alreadyMissedRisk,countryScores:{latvia:countryScores.latvia,lithuania:countryScores.lithuania,belarus:countryScores.belarus,poland:countryScores.poland,russia:countryScores.russia,...(req.useFinlandContextOnly?{finlandContextOnly}: {})},topPredictedPoints:fallback,...(insightSummary?{insightSummary}:{}),rawResearchPayload:{request:{requestType:req.requestType,speciesKey:req.speciesKey,speciesName:req.speciesName,latinName:req.latinName,predictionMode:req.predictionMode},normalizedSources:{foreignSightings:rows.map((row)=>({country:row.country,daysAgo:row.daysAgo,distanceToEstoniaKm:row.distanceToEstoniaKm,recordCount:row.recordCount,lat:row.lat,lon:row.lon})),elurikkusHistory:{springFitScore:Number(history.springFitScore||0),historicalHotspots:Array.isArray(history.historicalHotspots)?history.historicalHotspots:[],habitatHints:Array.isArray(history.habitatHints)?history.habitatHints:[],arrivalWindow:String(history.arrivalWindow||'')},estoniaRecent:{alreadyPresent:Boolean(recent.alreadyPresent),alreadyPassed:Boolean(recent.alreadyPassed),recentCount7d:Number(recent.recentCount7d||0),recentCount30d:Number(recent.recentCount30d||0)},weather:{windSupportScore,windDirection:String(weather.windDirection||''),windSpeed:Number(weather.windSpeed||0),precipitation:Number(weather.precipitation||0)}}}}}];"},"id":"calculate_species_parameters","name":"calculate_species_parameters","type":"n8n-nodes-base.code","typeVersion":2,"position":[1110,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ Boolean($json.requestType !== 'prediction') }}","operation":"true"}]}},"id":"summary_placeholder_gate","name":"summary_placeholder_gate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,300]},{"parameters":{"keepOnlySet":false,"values":{"string":[{"name":"insightSummary","value":"={{ $json.insightSummary || 'OpenAI summary placeholder: plug in a summarization node here if you want richer natural-language reasoning.' }}"}]}},"id":"summary_placeholder","name":"summary_placeholder","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,220]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"id":"final_response","name":"final_response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1780,300]}],"pinData":{},"connections":{"prediction_request":{"main":[[{"node":"normalize_input","type":"main","index":0}]]},"normalize_input":{"main":[[{"node":"fetch_ebird_foreign","type":"main","index":0},{"node":"fetch_elurikkus_history","type":"main","index":0},{"node":"fetch_estonia_recent","type":"main","index":0},{"node":"fetch_weather","type":"main","index":0}]]},"calculate_species_parameters":{"main":[[{"node":"summary_placeholder_gate","type":"main","index":0}]]},"summary_placeholder_gate":{"main":[[{"node":"summary_placeholder","type":"main","index":0}],[{"node":"final_response","type":"main","index":0}]]},"summary_placeholder":{"main":[[{"node":"final_response","type":"main","index":0}]]},"fetch_ebird_foreign":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"fetch_elurikkus_history":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"fetch_estonia_recent":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]},"fetch_weather":{"main":[[{"node":"calculate_species_parameters","type":"main","index":0}]]}},"active":false,"settings":{},"versionId":"species-prediction-real-sources-v1","meta":{"templateCredsSetupCompleted":false},"id":"species_prediction_api_real_sources","tags":[]}
